<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/college.css">



    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predictor</title>
</head>
<body>


    <div class="nav">
        <div class="ul">
<!-- span -->
    <div class="logo">
   
        <span class="pre" id="pre">PRE<span>
        <span class="Dictor" id="dictor"> DICTOR <span>
        
 

     </div>
     <!--  End of the span-->


     <!-- navs -->

     <div class="navs">

        <li> <a href="">Home</a> </li>
        <li><a href="">About Us</a></li>
        <li> <a href="">Contact</a> </li>


    </div>

    <!--end of the  navs -->


     </div>
     <!-- end of the ul -->


     </div>
     <!-- end of the main nav bar -->




     <!-- middle place  -->
     <div class="middle">

       
        <div class="content">
             <!-- starting of sometext -->

            <div class="sometext">


                <h1>MACHINE LEARNING </h1>
                <h1>FOR FARMERS</h1>
   
            </div>
            <!-- ending of some text -->
   
   
   <!-- starting of the text -->
            <div class="text">
                Machine learning in farming enhances crop <br>
                yield and efficiency through data-driven, <br>
                enabling optimized resource allocation, <br>
                insights disease detection, and predictive <br>
                analytics for sustainable agriculture <br>
            
   
   
   
            </div>
            <!-- ending of text -->

            <div class="login">
                
                <a href="/login/">LOG IN</a>

            </div>





        </div>

        <!-- end of the content -->




        <!-- machine learning image  -->

        <div class="image">

            <img src="/static/image/ai.avif" alt="" class="images">

        </div>






         





     </div>







            
           



    
</body>
</html>